<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help4Animals</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<body class="d-flex flex-column">
    <header class="mb-auto sticky-top">
        <nav class="navbar bg-dark navbar-expand-lg navbar-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Help4Animals</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link" href="/">About us</a>
                    <a class="nav-link" href="/">Contact</a>
                    <a class="nav-link" href="/">What we do?</a>
                </div>
                <div class="navbar-nav ms-auto">
                    <% if(!currentUser) {%>
                        <a class="nav-link" href="/login">Login</a>
                        <a class="nav-link" href="/userRegister">SignUp</a>
                    <% } else {%>
                        <a class="nav-link" href="/logout">Logout</a>
                    <% } %>
                </div>
              </div>
            </div>  
        </nav>
    </header>

    <%- include('./partials/flash') %>

    <div class="front">
        <div class="front-content">
            <h1 class="front-title">Help4Animals</h1>
            <p class="front-des">Connecting Shelters, Saving Lives</p>
            <p class="contact">For Emergency, <br>Contact: 91+9588XXXX12</p>
        </div>
    </div>

    <div class="cards">
        <div class="card col-shelters">
            <div class="row g-0">
                <div class="col-md-5">
                    <img class="img-fluid rounded-start img-home" src="https://images.unsplash.com/photo-1673382428363-db11e732150b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDV8fGluanVyZWQlMjBhbmlhbWxzfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60" alt="shleter image">
                </div>
                <div class="col-md-7 card-content">
                    <div class="card-body content-items">
                        <h3 class="card-title">Found an injured Animal?</h5>
                        <p class="card-text">Please click the link below to contact us if you come across an injured animal. Kindly provide necessary details, and we will promptly send help. For emergencies, please contact us using the helpline number provided above.</p>
                        <a class="btn btn-primary" href="/post">Post about the injured Animal</a>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="card col-shelters">
            <div class="row g-0 card-right">
                <div class="col-md-7 card-content">
                    <div class="card-body content-items">
                        <h3 class="card-title">Register a shelter</h5>
                        <p class="card-text">If you own a shelter, join our community and make a difference by helping us rescue and find homes for as many animals as possible. Click the link below to register your shelter and become a valued member of our cause!</p>
                        <a class="btn btn-primary" href="/shelterRegister">Register</a>
                    </div>
                </div>
                <div class="col-md-5">
                    <img class="img-fluid rounded-start img-home" src="https://plus.unsplash.com/premium_photo-1663126271177-1f07f9593b5e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8YW5pbWFsJTIwY29tbXVuaXR5fGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60" alt="shleter image">
                </div>
            </div>
        </div>
    
        <div class="card col-shelters">
            <div class="row g-0">
                <div class="col-md-5">
                    <img class="img-fluid rounded-start img-home" src="https://media.istockphoto.com/id/494829924/photo/at-animal-adoption-centre.webp?b=1&s=170667a&w=0&k=20&c=KqxMuT3U5CSSwOC_uvkXzotgg4utM8oTLf7ihe_vh2E=" alt="shleter image">
                </div> 
                <div class="col-md-7 card-content">
                    <div class="card-body content-items">
                        <h3 class="card-title">Shelters connected with us</h5>
                        <p class="card-text">See all animal shelters that are connected with us to support a network of caring animal shelters, working tirelessly to provide shelter and find loving homes for animals in need.</p>
                        <a class="btn btn-primary" href="#">View shelters</a>
                    </div>
                </div> 
            </div>
        </div>
    
        <div class="card col-shelters">
            <div class="row g-0 card-right">
                <div class="col-md-7 card-content">
                    <div class="card-body content-items">
                        <h3 class="card-title">Want to adopt?</h5>
                        <p class="card-text">If you're passionate about animals and interested in adopting from our shelters, please click the link below. Our available animals for adoption are healthy, free from injuries and diseases, and have made a full recovery to optimal health.</p>
                        <a class="btn btn-primary" href="#">Adopt an animal</a>
                    </div>
                </div>
                <div class="col-md-5">
                    <img class="img-fluid rounded-start img-home" src="https://images.unsplash.com/photo-1599133718175-9c39750b8f2a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGFkb3B0ZWQlMjBhbmltYWxzfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60" alt="shleter image">
                </div>
            </div>
        </div>
    </div>

    <footer class="footer bg-dark py-3 text-white-50">
        <div class="container"><span style="color: grey; text-align: center;">&copy; Help4Animals 2023</span></div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>