.details{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
    url("../images/ambulance.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.details-title{
    color: #e63946;
    border-bottom: 2px solid #e63946;
    width: 300px;
    margin-bottom: 40px;
}

.info-container{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.species-header{
    margin-bottom: 30px;
}

.species-header span{
    display: inline;
}

.locality{
    margin-bottom: 0px;
}

.species{
    color: white;
    margin-bottom: 20px;
    display: inline;
    margin-right: 20px;
}

.font-small{
    font-size: 1.2rem;
}

.description{
    margin-top: 40px;
    margin-bottom: 40px;
}

.callercontact{
    margin-bottom: 30px;
}

.light-grey{
    color: #adb5bd;
}

.dark-grey{
    color: #6c757d;
}

.severe{
    width: auto;
}

.back{
    margin-top: 20px;
    font-size: 15px;
}

.severe span{
    margin-left: 15px;
    color: #adb5bd;
    display: inline-block;
    width: 50px;
    border-radius: 10px;
    text-align: center;
    font-weight: 500;
}

.image-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.check-form{
    line-height: 1.5;
    border: 2px solid #adb5bd;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
}

.checkLabel{
    display: inline;
    font-size: 1rem;
}

#confirmBox.hidden{
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
}

#confirmBox{
    opacity: 1;
    height: auto;
    transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
}

.countRescues{
    height: auto;
    max-width: 100%;
    padding: 70px;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url("../images/turtle.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.countRescues-title{
    font-size: 80px;
    color: #fb8500;
}

.shelter-rescues{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shelter-rescue-details{
    width: 100%;
    text-align: center;
    height: 40px;
    border: 1px solid slategray;
}

.show-index, .show-location, .show-species{
    margin-bottom: 0;
}

.show-index, .show-location{
    background-color: #90e0ef;
}

.show-species, .show-button{
    background-color: #caf0f8;
}

.show-button{
    text-decoration: none;
}

#hide{
    cursor: pointer;
    color: blue;
}