<% layout('layout/boilerplate') %>
<% layout('layout/boilerplate') %>

<div class="row mt-5">
    <h1 class="text-center">SignUp</h1>
    <div class="col-md-6 offset-md-3 mb-5">
        <form action="/userRegister" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label for="Username" class="form-label">Username: </label>
                <input type="text" class="form-control" id="Username" name="username" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email: </label>
                <input type="email" class="form-control" id="email" name="email" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <!-- <div class="mb-3">
                <label for="image" class="form-label">Add profile photo: </label>
                <input type="file" class="form-control" id="image">
            </div> -->
            <div class="mb-3">
                <label for="password" class="form-label">Password: </label>
                <input type="password" class="form-control" id="password" name="password" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="confPassword" class="form-label">Confirm password: </label>
                <input type="password" class="form-control" id="confPassword" name="confPassword" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3 text-center">
                <button class="btn btn-primary">SignUp</button>
            </div>
        </form>
    </div>
</div>